@import "./paletas.scss";
@import "./util.scss";
body {
  .p-dialog {
    .p-confirm-dialog-reject {
      &.p-button {
        &:not(.p-button-icon-only) {
          background: white;
          color: color-function($azul, 50);
          border: solid 1px color-function($azul, 50);
        }
        &:hover {
          border: solid 1px color-function($azul, 500);
        }
      }
    }
    .p-dialog-titlebar {
      border: none;
      background-color: color-function($verde, A900);
      color: color-function($branco, 500);
      & .p-dialog-titlebar-icon {
        color: color-function($branco, 500);
      }
    }
    & .p-dialog-content {
      border-top: 2px solid color-function($azul, 50);
      border-bottom: none;
      border-left: none;
      border-right: none;
    }
    & .p-dialog-footer {
      border: none;
    }
  }
}
