$branco: (
	500: #fff,
	600: #fefefe,
	700: #eeeeee,
);

$cinza: (
	100: #e6e6e6,
	200: #cccccc,
	300: #b3b3b3,
	400: #999999,
	500: #808080,
	600: #737373,
	700: #666666,
	800: #404040,
	900: #333333,
);

$laranja: (
	100: #ffae80,
	200: #ff9e66,
	300: #ff8e4d,
	400: #ff7e33,
	500: #ff6a14,
	600: #ff5e00,
	700: #e65400,
	800: #cc4b00,
	900: #b34100,
);

$verde: (
	50: #7dbc81,
	100: #7dbc81,
	200: #7dbc81,
	300: #4d9a52,
	400: #4d9a52,
	500: #2e7d32,
	600: #2e7d32,
	700: #16621b,
	800: #044208,
	900: #044208,
	A100: #7dbc81,
	A200: #7dbc81,
	A400: #4d9a52,
	A700: #4d9a52,
	A800: #2d6754,
	A900: #3e8679,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: white,
		400: white,
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
		A100: rgba(black, 0.87),
		A200: white,
		A400: white,
		A700: white,
	),
);

$vermelho: (
	50: #ffebee,
	100: #ffcdd2,
	200: #ef9a9a,
	300: #e57373,
	400: #ef5350,
	500: #f44336,
	600: #e53935,
	700: #d32f2f,
	800: #c62828,
	900: #b71c1c,
	A100: #ff8a80,
	A200: #ff5252,
	A400: #ff1744,
	A700: #d50000,
	A800: #bf0505,
	contrast: (
		50: rgba(black, 0.87),
		100: rgba(black, 0.87),
		200: rgba(black, 0.87),
		300: rgba(black, 0.87),
		400: rgba(black, 0.87),
		500: white,
		600: white,
		700: white,
		800: white,
		900: white,
		A100: rgba(black, 0.87),
		A200: white,
		A400: white,
		A700: white,
	),
);
