<div>
  <app-estudante-filtro [formulario]="formulario" [series]="series" [classes]="classes" (aoPesquisar)="pesquisar()" (aoLimpar)="limpar()">
  </app-estudante-filtro>
</div>
<div class="p-grid" *ngIf="true">
  <div class="p-col-12">
    <app-estudante-tabela [estudantes]="estudantes" [classes]="classes" *ngIf="estudantes?.length">
    </app-estudante-tabela>
  </div>
</div>

<app-estudante-edicao [series]="series" [classes]="classes">
</app-estudante-edicao>

<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>
