<div *ngIf="!idEstudante">
  <app-estudante-filtro [formulario]="formulario" [series]="series" [classes]="classes" (aoPesquisar)="pesquisar()" (aoLimpar)="limpar()">
  </app-estudante-filtro>

  <div class="p-grid">
    <div class="p-col-12">
      <app-estudante-tabela *ngIf="estudantes?.length" [estudantes]="estudantes" [classes]="classes" (aoEditar)="editar($event)"
        (aoRemover)="remover($event)">
      </app-estudante-tabela>
    </div>
  </div>
</div>

<app-estudante-edicao *ngIf="idEstudante" [series]="series" [classes]="classes" [idEstudante]="idEstudante" (aoSalvar)="salvar($event)"
  (aoCancelar)="esconderEdicao()">
</app-estudante-edicao>

<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>
