<p>estudante works!</p>


<div class="p-grid">
    <div class="p-col-12">
      <h1 class="tituloArea">Estudante</h1>
    </div>
  </div>
  <!--
  <div [formGroup]="formulario">
    <app-filtros [formulario]="formulario" [listaFuncao]="listaFuncao" [listaFolhaPagamento]="listaFolhaPagamento" (aoBuscarFolhaPagamento)="buscarFolhaPagamento($event.query)"
      (aoPesquisar)="pesquisar()" (aoLimpar)="limpar()">
    </app-filtros>
  </div>
  <div class="p-grid" *ngIf="paginated?.content?.length">
    <div class="p-col-12">
      <app-estatisticas [estatisticas]="estatisticas"></app-estatisticas>
      <app-tabela [paginated]="paginated" (aoBaixar)="fazerDownload($event)" (aoAlterarPagina)="clickPaginacao($event)"></app-tabela>
    </div>
  </div>
  -->
  