<div class="content">
    <p-card header="DADOS DO ESTUDANTE">
        <form [formGroup]="formulario">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-lg-6">
                    <div class="p-field">
                        <label for="idRa" class="lbl_inputs">RA<small>"Obrigatório"</small></label>
                        <input id="idRa" type="text" pInputText formControlName="ra" autocomplete="off" />
                    </div>
                </div>

                <div class="p-col-12 p-md-6 p-lg-6">
                    <div class="p-field">
                        <label for="idNome" class="lbl_inputs">NOME COMPLETO<small>"Obrigatório"</small></label>
                        <input id="idNome" type="text" pInputText formControlName="nome" autocomplete="off" />
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <div class="p-field">
                        <label for="idSeries" class="lbl_inputs">
                            SÉRIE<small>"Obrigatório"</small></label>
                        <p-dropdown id="idSeries" [options]="series" formControlName="serie" optionLabel="nome" [filter]="true">
                        </p-dropdown>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-6">
                    <div class="p-field">
                        <label for="idClasses" class="lbl_inputs">
                            CLASSE<small>"Obrigatório"</small></label>

                        <p-dropdown id="idClasses" [placeholder]="'&nbsp;'" [options]="classes" [showClear]="true" formControlName="classe"
                            optionLabel="nome" [filter]="true">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </form>
    </p-card>

    <div class="p-grid p-justify-end">
        <div>
            <button pButton type="button" icon="pi pi-save" iconPos="left" label=" Salvar" (click)="salvar()"></button>
            <button pButton type="button" id="btnLimpar" icon="pi pi-times" label="Cancelar" class="secundario"></button>
        </div>
    </div>
</div>
